<header>

  <nav>
    <ul class="links">
      <li><a href="/home">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </nav>

  <h1>Dashboard</h1>

</header>

{{!-- div for the buttons to collect --}}
{{#each drafts as |drafts|}}
<div id="createdBtns">
  <p>{{drafts.title}}</p>
  <p>{{drafts.content}}</p>
</div>
{{/each}}

<section
  class="section-three container-xl"
  style="display:none;"
  id="section-three"
>

  <h2>Create New Post</h2>
  <div class="loginModal">
    <form method="POST">
      <p>Title</p>
      <input type="text" name="title" id="title"/>
      <p>Content</p>
      <input type="text" name="content" id="content"/>
    </form>
  </div>
  <div id="inputDiv">
    <input type="submit" name="submit" value="Submit" id="submit" />
    <input type="submit" name="create" value="Create" id="create" />
  </div>

</section>

<footer>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-dark" id="newPost">+ New Post</button>
  </div>

</footer>

<script src="./js/dashboard.js"></script>