<header>

  <nav>
    <ul class="links">
      <li><a href="/home">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </nav>

  <h1>Tech Blog</h1>

</header>
{{! This will show all the existing posts and place them into the home page }}
{{#each posts as |posts|}}
  <div class="submittedPost">
    <h3>{{posts.title}}</h3>
    <p>{{posts.content}}</p>
    <a href="/home/{{posts.id}}" class="comment">Comment</a>
  </div>
{{/each}}

{{!-- {{#each comments as |comments|}}
  <p>{{comments.content}}</p>
{{/each}} --}}

<script src="./js/home.js"></script>