<header>

  <h1>Tech Blog</h1>

</header>

<section class="section-one container-xl" id="section-one">
  <h2>Login</h2>
  <div class="loginModal">
    <form method="POST">
      <p>Email</p>
      <input
        type="text"
        name="Email"
        placeholder="Enter Email"
        required
        id="email-login"
      />
      <p>Password</p>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        required
        id="password-login"
      />
    </form>
  </div>
  <button id="log">Login</button>
  
  <p><a href="/sign-up" id="switch">Sign-up?</a></p>
  
</section>

<script src="./js/login.js"></script>