<header>
  {{! Use the logo to take you back to login }}
  <a href="/"><h1>Tech Blog</h1></a>

</header>

{{! Sign up modal needs same attributes as Login modal }}
<section class="section-two container-xl" id="section-two">
  <h2>Sign Up</h2>
  <div class="loginModal">
    <form method="POST">
      <p>Username</p>
      <input
        type="text"
        name="username"
        placeholder="Enter username"
        id="name-signup"
      />
      <p>email</p>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        requires
        id="email-signup"
      />
      <p>Password</p>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        requires
        id="password-signup"
      />
    </form>
  </div>

  <div id="signUp">
    <a href="/home"><button>Sign Up</button></a>
  </div>

</section>

<script src="./js/login.js"></script>