/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

/* Reset the browser with reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Place links above h1 */
/* Use background color from mock up */
header {
  display: block;
  justify-content: left;
  align-items: center;
  padding: 30px 10%;
  background-color: #251a10;
}

body {
  background-color: #c8f7c8;
}

/* Use imported font */
li,
a {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/* Use imported font */
h1 {
  position: relative;
  left: 4%;
  width: 200px;
  height: 45px;
  font-family: "Share Tech", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #251a10;
  text-decoration: none;
  background-color: #c8f7c8;
  border-radius: 10%;
  text-align: center;
  box-shadow: 5px 5px 0px #a9a9a9;
}

.links {
  /* removes bullets from list */
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0 20px;
}

.links a {
  transition: all 0.25s ease 0s;
}

.links a:hover {
  /* When links are hovered, color will change to body background */
  color: #c8f7c8;
}

/* Beginning to the login styles *********************************************************/
/* Create the section where the login form lives */
.section-one {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  top: 40px;
  height: 45vh;
  width: 50vw;
  border: solid 5px #251a10;
}

h2 {
  display: flex;
  align-items: center;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-size: 40px;
  background-color: #251a10;
  color: whitesmoke;
  height: 70px;
}

.loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginModal p {
  width: 100%;
  font-family: "Share Tech", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #251a10;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45vw;
}

form input {
  display: flex;
  justify-content: center;
  width: 100%;
}

#log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 25vw;
}

#switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #251a10;
  font-size: 25px;
  font-weight: 400;
}

/* Beginning to sign-up styles *********************************************************/
/* Create the section where the sign up form lives */
.section-two {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  top: 40px;
  height: 45vh;
  width: 50vw;
  border: solid 5px #251a10;
}

#signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
}

#signUp a {
  color: #251a10;
}

#signUp button {
  position: relative;
  bottom: 25px;
  border-radius: 8px;
  width: 150px;
  background-color: #a9a9a9;
}

/* Beginning to home styles *********************************************************/
/* Create a section where the comments will populate on home page */

.comment-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  overflow-y: scroll;
  margin-right: 2px;
}

.comment-section::-webkit-scrollbar{
  display: none;
}

.comment {
  background-color: #a9a9a9;
  position: relative;
  top: 75%;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}

.comment-input{
  display: flex;
  justify-content: center;
  height: 15vh;
  width: 15vw;
  margin-right: 5px;
  background-color: transparent;
}

.submittedPost {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  margin: 2rem auto;
  width: 50vw;
  border: solid 5px #251a10;
  height: 30vh;
  width: 75vw;
}

.submittedPost p {
  display: flex;
  padding: 10px;
}

h3 {
  display: flex;
  align-items: center;
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  background-color: #251a10;
  color: whitesmoke;
  height: 30px;
  width: 100%;
}

/* Beginning to dashboard styles *********************************************************/

.draftTitle {
  margin: 24px;
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.section-three {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  top: 40px;
  height: 45vh;
  width: 50vw;
  border: solid 5px #251a10;
}

.section-four {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 0;
  height: 45vh;
  width: 50vw;
  border: solid 5px #251a10;
}

textarea {
  height: 95px;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}

.submitEdit {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}
.create {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}

.draftCard {
  display: flex;
  position: relative;
  top: 15px;
  border-radius: 8px;
  background-color: #a9a9a9;
  margin: 15px auto;
  height: 75px;
  width: 70vw;
  text-align: center;
}

#draftContents {
  display: flex;
  margin: 20px auto;
  height: 200px;
  width: 70%;
  border: 2px solid;
}

/* .btnLinks{
  display: flex;
  flex-direction: column;
  width: 75%;
} */

.postBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: #a9a9a9;
  margin: 10px;
  height: 75px;
  width: 40vw;
  text-align: center;
}

footer {
  position: relative;
  top: 60px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark {
  height: 55px;
  width: 150px;
  background-color: #251a10;
}

#inputDiv {
  display: flex;
  justify-content: space-evenly;
}

/* Edit Posts in dashboard *********************************************************/
.submitDraft {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}

.updateDraft {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}

.deleteDraft {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  background-color: #a9a9a9;
  color: #251a10;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  height: 35px;
  width: 150px;
}


/* Media Queries *********************************************************/
@media only screen and (max-width: 875px) {
  .submittedPost {
    overflow-y: scroll;
  }
}